.highlight {
    color: var(--third-color);
}

.about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20vh;
}

.about-me .social {
    display: flex;
    gap: 20px;
    color: var(--secondary-color);
    margin-top: 20px
}

.about-me .social div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tech-stack {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20vh;
    text-align: center;
}