@import "Color.css";
.active {
  color: var(--third-color);
}

.nav {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: end;
  height: 10vh;
  padding-right: 20vh;
  padding-left: 20vh;
  position: fixed;
  z-index: 99;
  top: 0;
}

.nav .nav-list {
  display: flex;
  justify-content: space-between;
  gap: 8vh;
  align-items: center;
}

.nav .nav-list .nav-link {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  cursor: pointer;
}
.nav .nav-list .nav-link:hover {
  opacity: 0.7;
}

.project-navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 20vh;
  font-size: 20px;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 99;
}

.project-navbar .back-button:hover {
  opacity: 0.7;
}

.project-navbar .project-nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8vh;
  list-style: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.project-navbar .project-nav .nav-list .nav-link:hover {
  opacity: 0.7;
}
