@import "Color.css";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Chakra Petch", sans-serif;
}

h1,
h4 {
  color: var(--secondary-color);
}

.display-1 {
  font-size: 40px;
}

.display-2 {
  font-size: 32px;
}

.display-3 {
  font-size: 24px;
  font-weight: 600;
}

.display-4 {
  font-size: 20px;
}

.display-5 {
  font-size: 18;
}

.highlight {
  color: var(--third-color);
}

@media (max-width: 991.98px) {
  .display-1 {
    font-size: 24px;
  }

  .display-2 {
    font-size: 18px;
  }

  .display-3 {
    font-size: 16px;
  }

  .display-4 {
    font-size: 14px;
  }

  .display-5 {
    font-size: 12px;
  }
}
